* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.title {
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 48px;
}

.intro-chunk {
  font-size: 1.25rem;
  line-height: 1.2;
  max-width: 450;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 106px;
}

.intro-chunk strong {
  color: #009966;
}

.intro-chunk p {
  line-height: 1.5;
  margin-bottom: 28px;
}

.intro-chunk p:last-of-type {
  margin-bottom: 70px;
}

header {
  border-bottom-style: solid;
  border-bottom-width: 8px;
  border-bottom-color: #999999;
  margin-bottom: 0;
}

main {
  margin-top: 0;
  background-color: #666666;
  padding-top: 64px;
  padding-bottom: 56px;
}

.indented-heading {
  font-weight: 800;
  background-color: #FFBF00;
  border-bottom-style: solid;
  border-bottom-width: 8px;
  border-bottom-color: #CC9900;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 32px;
  max-width: 401px;
  margin-top: 0;
  margin-left: -34px;
}

.card {
  background-color: #FFFF;
  border-bottom-style: solid;
  border-bottom-width: 8px;
  border-bottom-color: #999999;
}

.card {
  padding-top: 10px;
  padding-left: 26px;
  padding-right: 26px;
}

.card p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.max-width-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}